@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,500&display=swap");
@import './scss/_respond.scss';

body {
  background-color: #fff;
  color: #111;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}